.first {
    height: 200px;
    width: 20%;
    border: 2px solid #000;
    border-radius: 15px;
    text-align: center;
    background-color: #FFB41A;
}
img {
    text-align: center;
    margin-top: 5px;
}
p {
    font-size: 10px;
}
.parentclass{
    display: flex;
    gap: 30px;  
    justify-content: center; 
    flex-wrap: wrap;
}
*{
    text-align: center;
}
.first-paragraph{
    font-size: 15px;
    margin-left: 10px;
}
.underline {
    text-decoration: underline;
    margin-top: 10px;
    color: #E49824;
}