.outer{
    height: 400px;
    width: 400px;
    border: 5px solid #000;
    transition-duration: 2s;
}
.inner{
    height: 100px;
    width: 100px;
    border: 5px solid #000;
    border-radius: 50%;
    margin-top: 5px;
    transition: margin-left 2s ease-in 0.2s;
}
.last{
    height: 100px;
    width: 100px;
    border: 5px solid #000;
    border-radius: 50px;
    margin-top: 5px;
    margin-left: 290px;
    transition: margin-left 2s step-end 0.2s;
}
.inner:hover{
    margin-left: 290px;
    background: linear-gradient(to left, rgb(230, 91, 91),rgb(73, 73, 244));
}
.last:hover{
    margin-left: 0px;
    background: linear-gradient(to left, rgb(230, 91, 91),rgb(73, 73, 244));
}
.outer:hover{
    background-color: yellowgreen;
    border-radius: 50%;
}